<ion-header>
  <ion-toolbar>
    <ion-title>malanje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="kittens">
        Locais do Malanje
      </ion-segment-button>
      <ion-segment-button value="puppies">
        Grastonomia
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">
      <ion-item>
        <ion-thumbnail item-start>
          <ion-img src="/assets/fotos/molhoMal.jpeg"></ion-img>
        </ion-thumbnail>
        <h2>Molho de galinha rija</h2>
        
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <ion-img src="/assets/fotos/malanjecomida.jpeg"></ion-img>
        </ion-thumbnail>
        <h2>Funje de milho</h2>
        
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <ion-img src="/assets/fotos/cimidaHuam.jpeg"></ion-img>
        </ion-thumbnail>
        <h2>Milho com molho</h2>
        
      </ion-item>
      ...
    </ion-list>
  
    <ion-list *ngSwitchCase="'kittens'">
      <ion-item>
        <ion-thumbnail item-start>
          <ion-img src="/assets/fotos/palanca.jpeg"></ion-img>
        </ion-thumbnail>
        <h2></h2>
        
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <ion-img src="/assets/fotos/malenje1.jpeg"></ion-img>
        </ion-thumbnail>
        <h2></h2>
        
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <ion-img src="/assets/fotos/mal.jpeg"></ion-img>
        </ion-thumbnail>
        <h2></h2>
        
      </ion-item>
      ...
    </ion-list>
  </div>
</ion-content>
