<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/fotos/Angola.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Vamos Começar</ion-card-subtitle>
        <ion-card-title>Bem-vindo ao nosso bloog das Cidades de Angola</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
        
      </ion-list-header>
    </ion-list>
    <ion-slides pager>

        <ion-slide style="background-color: white">
          <h2>Cabinda</h2>
          <ion-img src="/assets/fotos/cabinda.png"></ion-img>
        </ion-slide>
      
        <ion-slide style="background-color:white">
          <h2>Huambo</h2>
          <ion-img src="/assets/fotos/Huambo.jpeg"></ion-img>
        </ion-slide>
      
        <ion-slide style="background-color: white">
          <h2>Malanje</h2>
          <ion-img src="/assets/fotos/Malanje.png"></ion-img>
        </ion-slide>
      
      </ion-slides>

      <ion-fab top right edge>
          <button ion-fab mini><ion-icon name="add"></ion-icon></button>
          <ion-fab-list>
            <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
          </ion-fab-list>
        </ion-fab>
      
      
</ion-content>